*{
  border-left: 20px;
  border-right: 20px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.bodyStyle{
  
    min-height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
}

.divStyle  {
    display: flex;
    overflow: hidden;
    background-color: #333;
  }
.h1Style  {
    display: flex;
    flex-basis: 60%;
    padding-left: 2vw;
    color: white;
    align-items: center;
  }
  
 .ulStyle  {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(94, 90, 90);
    flex-basis: 40%;
    gap: 10px;
    justify-content: center;
  }
  .liStyle {
    float: left;
    display: flex;
    align-items: center;
  }
  .aStyle:hover{
    color: #333;
    border: white;
    background-color: white;
    
  }
  .aStyle  {
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
  }
  .cartImage{
    display: block;
    width: 25px;
  }
  .mainPart{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: grey;
  }
  .footerBar{
    display: flex;
    justify-content: center;
    background-color: rgb(196, 193, 193);
  }